# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
  __pycache__/

# Jupyter
.ipynb_checkpoints/

# Models & data
*.bin
*.safetensors
*.gguf
*.pt
*.onnx
data/raw/
data/interim/
models/
chroma_store/
day08/chroma/
day08/lc_chroma/
llama.cpp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.zip
*.faiss
*.pkl
day03/model/
**/data/raw/
wandb/
